{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	loops, summation, and 🥧.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  The number $\pi$=3.1415926535897... is the ratio of a circle's circumference to its diameter and shows basically
  everywhere in math and science. It's like the most famous number in math. It's decimal expansion goes on forever but
  we can actually calculate it by summing up a bunch of fractions

  $$ \frac{\pi}{4} = 1 - \frac{1}{3} + \frac{1}{5} - \frac{1}{7} + \frac{1}{9} - \frac{1}{11} + \dots
     = \sum_{k=0}^\infty \frac{(-1)^k}{2k+1} $$

  By adding more and more terms, you get a better and better approximation to $\pi$. Of course, you can keep summing
  an infinite number of terms so in practice you cut it off after $n$ terms. Given the number of terms $n$, sum the
  first $n$ terms and return the result. Remember the $k=0$ term (equal to 1) counts as the first term.
</p>

<br>
<figure style="text-align: center;">
  <img src="{% static 'img/approximating_pi.png' %}">
  <figcaption class="help">
    The blue line shows the sum of the first $n$ terms for $0 \le n \le 50$ while the orange dashed line shows the exact
    value of $\pi$. By adding each term, you end up overestimating then underestimating $\pi$, but it slowly converges to the
    exact value.
  </figcaption>
</figure>
<br>
{% endblock %}

{% block input_description %}
  An integer $n$ for the number of terms to sum in calculating $\pi$ using the above equation.
{% endblock %}

{% block output_description %}
  The sum of the first $n$ terms giving an approximation to $\pi$.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input</b>: 25
<b>Output</b>: 3.1815766854350325</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input</b>: 10000
<b>Output</b>: 3.1414926535900345</div>
</article>
{% endblock %}

{% block function_signature %}
almost_pi(N)
{% endblock %}

{% block notes_and_references %}
<div class="content">
  {% if solved_by_user %}
  <h3>Solution notes</h3>
  <ul>
    <li>
      The formula we used here is <a href="https://en.wikipedia.org/wiki/Leibniz_formula_for_%CF%80">Leibniz formula
      for $\pi$</a> and is one of the slowest to converge: you need TONS of terms to calculate more and more digits of $\pi$.
      There are <a href="https://en.wikipedia.org/wiki/List_of_formulae_involving_%CF%80#Efficient_infinite_series">
      crazy looking efficient formulas</a>a that can calculate digits of π much faster.
    </li>
    <li>
      The Jupyter notebook used to generate the plot in the figure is on GitHub:
      <a href="https://github.com/project-lovelace/lovelace-code-snippets/blob/master/Almost%20pi/Almost%20pi.ipynb">
        Almost pi.ipynb
      </a>
    </li>
  </ul>
  {% endif %}

  <h3>Videos</h3>
  <dl>
    <dt>
      <a href="https://www.youtube.com/watch?v=bcPTiiiYDs8">How pi was almost 6.283185...</a>, 3Blue1Brown
    </dt>
  </dl>

  <h3>Notes</h3>
  <ul>
    <li>$\pi$ is a transcendental number and its digital expansion contains all possible numbers. 123456789 first shows
      up at the 523,551,502nd decimal place! You can search through the first billion digits at 
      <a href="https://three.onefouronefive.net/">A Billion Digits of Pi</a>.
    </li>
  </ul>
</div>
{% endblock %}

{% block python_code_stub %}
def almost_pi(N):
    # Your code goes here!
    return 0
{% endblock %}

{% block javascript_code_stub %}
function almost_pi(N) {
    // Your code goes here!
    return 0
}
{% endblock %}

{% block julia_code_stub %}
function almost_pi(N)
    # Your code goes here!
    return 0
end
{% endblock %}

{% block c_code_stub %}
double almost_pi(int N) {
    // Your code goes here!
    return 0;
}
{% endblock %}

{% block discourse_topic_id %}262{% endblock %}

