{% extends "problems/problem.html" %}

{% load static %}

{% block useful_to_know %}
	loops, summation, pi is everywhere.
{% endblock %}

{% block problem_body %}
  The number π=3.1415926535897... is the ratio of a circle's circumference to its diameter and shows up absolutely everywhere in math and science.
{% endblock %}

{% block input_description %}
  The number of terms to use in calculating π.
{% endblock %}

{% block output_description %}
  The approximation to π.
{% endblock %}

{% block examples %}
  <article class="message">
    <div class="message-header">
      <p>Example</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input N</b>: 100
──────────────────────────────
<b>Output approximation</b>: ???</div>
  </article>
{% endblock %}

{% block function_signature %}
almost_pi(N)
{% endblock %}

{% block python_code_stub %}
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    {% if solved_by_user %}
    <h3>Solution notes</h3>
    <ul>
      <li></li>
    </ul>
    {% endif %}

    {<--
    <h3>Notes</h3>
    <ul>
      <li>Pi is a transcendental number and its digital expansion contains...</li>
      <li>Beautiful visualization</li>
    </ul> -->
    
    <h3>References</h3>
    <dl>
      <dt></dt>
      <dd></dd>
    </dl>
  </div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

