{% extends "problems/problem.html" %}

{% load static %}

{% block problem_javascript %}
<!-- noUiSlider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js" integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js" integrity="sha512-jWNpWAWx86B/GZV4Qsce63q5jxx/rpWnw812vh0RE+SBIo/mmepwOSQkY2eVQnMuE28pzUEO7ux0a5sJX91g8A==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" integrity="sha512-40vN6DdyQoxRJCw0klEUwZfTTlcwkOLKpP8K8125hy9iF4fi8gPpWZp60qKC6MYAFaond8yQds7cTMVU8eMbgA==" crossorigin="anonymous" />

<!-- Only load Plotly for problems that use it since it's a big dependency. -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block you_will_learn %}
  weirdly surprising patterns.
{% endblock %}

{% block problem_body %}
<p class="block has-text-justified">
  A Babylonian spiral is constructed by starting with a zero vector at the origin of a Cartesian grid and progressively
  concatenating the next longest vector with integer components. So the $i$th vector has integer components $(x_i, y_i)$
  satisfying $x_i^2 + y_i^2 = n_i^2 > n_{i-1}^2$ where $x_i$, $y_i$ and $n_i$ are non-negative integers. The direction
  of the new vector is chosen such that it minimizes the clockwise angular separation from the previous one.
</p>

<p class="block has-text-justified">
  Starting with the vectors $(x_0, y_0) = (0, 0)$ and $(x_1, y_1) = (0, 1)$ find the $x$ and $y$ coordinates of the Babylonian
  spiral after $N$ steps.
</p>

<figure class="has-text-centered">
  <div id="babylonian-spiral-app"></div>
</figure>

<label class="label">Number of steps: <span id="label-steps"></span></label>
<div id="slider-steps" class="block"></div>
{% endblock %}

{% block input_description %}
Number of steps $N$.
{% endblock %}

{% block output_description %}
The $x$ and $y$ coordinates as lists.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example</p>
  </div>
  <div class="message-body example-body">
    <b>Input</b>: 10
    <br>
    <b>Output x</b>: [0, 0, 1, 3, 5, 7, 7, 6, 4, 0, -4, -7]
    <br>
    <b>Output y</b>: [0, 1, 2, 2, 1, -1, -4, -7, -10, -10, -9, -6]
  </div>
</article>
{% endblock %}

{% block function_signature %}
babylonian_spiral(n_steps)
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>
      This problem has been inspired by a <a href="http://mathpickle.com/project/babylonian-spiral">MathPickle article</a>
      and a <a href="https://scipython.com/blog/the-babylonian-spiral/">SciPython blog post</a>.
    </li>
    <li>
      Apparently the name <em>Babylonian spiral</em> was chosen to mislead school students into making an incorrect hypothesis
      about the spiral's long-term behavior. 
    </li>
    <li>
      The On-Line Encyclopedia of Integer Sequences (OEIS) has three sequences related to the Babylonian spiral:
      <a href="https://oeis.org/A256111">A256111</a>, <a href="https://oeis.org/A297346">A297346</a>,
      and <a href="https://oeis.org/A297347">A297347</a>.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}314{% endblock %}
