{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	numerical algorithms.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  The basic idea is to start with a guess $x_0$ for $\sqrt{S}$. Then we can improve on this guess: if $x_n$ is an
  overestimate to $\sqrt{S}$ then $S/x_n$ will be an underestimate, so averaging the two should produce a better guess:
  $$ x_{n+1} = \frac{1}{2} \left( x_n + \frac{S}{x_n} \right) $$
</p>

<br><br>
<figure style="text-align: center;">
  <img src="{% static 'img/YBC7289.jpg' %}">
</figure>
<br>
{% endblock %}

{% block input_description %}
  A number.
{% endblock %}

{% block output_description %}
  It's square root approximated using the babylonian method.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input</b>: 420
<b>Output</b>: 20.493901531919196</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input</b>: -10
<b>Output</b>: "undefined"</div>
</article>
{% endblock %}

{% block function_signature %}
babylonian_sqrt(n)
{% endblock %}

{% block python_code_stub %}
def babylonian_sqrt(S):
    # Your code goes here!
    return 0
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    {% if solved_by_user %}
    <h3>Solution notes</h3>
    <ul>
      <li></li>
    </ul>
    {% endif %}

    <h3>Notes</h3>
    <ul>
      <li></li>
    </ul>

    <h3>References</h3>
    <dl>
      <dt></dt>
      <dd></dd>
    </dl>
  </div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

