{% extends "problems/problem.html" %}

{% load static %}

{% block useful_to_know %}
	numerical algorithms.
{% endblock %}

{% block problem_body %}
  <br>
  <figure style="text-align: center;">
    <img src="{% static 'img/YBC7289.jpg' %}">
  </figure>
  <br>
{% endblock %}

{% block input_description %}
  A number.
{% endblock %}

{% block output_description %}
  It's square root.
{% endblock %}

{% block examples %}
  <article class="message">
    <div class="message-header">
      <p>Example</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input sqrt</b>: "B+"
──────────────────────────────
<b>Output sqrt(N)</b>: ???</div>
  </article>
{% endblock %}

{% block function_signature %}
babylonian_sqrt(n)
{% endblock %}

{% block python_code_stub %}
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    {% if solved_by_user %}
    <h3>Solution notes</h3>
    <ul>
      <li></li>
    </ul>
    {% endif %}

    {<--
    <h3>Notes</h3>
    <ul>
      <li></li>
    </ul> -->
    
    <--
    <h3>References</h3>
    <dl>
      <dt></dt>
      <dd></dd>
    </dl> -->
  </div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

