{% extends "problems/problem.html" %}

{% load static %}

{% block useful_to_know %}
    loops, strings.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  Ever since ancient civilizations could write letters to each other, people have wanted to keep some messages secret in case they were intercepted by someone else. To do this, they used an encryption scheme or secret code to encrypt their message before sending it. The receiver could then decrypt it and read it if they knew how to decrypt it. In cryptography the original unencrypted message is called the plaintext (usually shown in all lowercase) while the encrypted message is the ciphertext (SHOWN IN ALL UPPERCASE).
</p>
<br>
<figure class="image" style="text-align: center;">
  <img src="{% static 'img/caesar_cipher.png' %}" style="width: 60%; margin: 0 auto;">
  <figcaption class="help">
    A Caesar cipher using a right shift of 3 (which is the same as a left shift of 23). (<a href="https://commons.wikimedia.org/wiki/File:Caesar_cipher_left_shift_of_3.svg">Wikimedia Commons</a>)
  </figcaption>
</figure>
<br>
<p class="has-text-justified">
  A famous method of encrypting a message is the Caesar cipher. It involves using a shifted alphabet instead of the regular alphabet. For example, a shift of 13 will involve changing A to N, B to O, C to P, and so on. It is a very weak cipher that provides no security nowadays but was actually secure at the time when no one knew of cryptography.
</p>
<br>
<p class="has-text-justified">
  If you knew even a single word that is present in the ciphertext, that would be enough to break the caesar cipher and reveal the secret message. Given the ciphertext and a word that definitely exists in the plaintext, return the plaintext message.
</p>
{% endblock %}

{% block input_description %}
  The ciphertext to be decrypted, and one word that is present in the plaintext.
{% endblock %}

{% block output_description %}
  The original message in lower case letters.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input ciphertext</b>: "QEB NRFZH YOLTK CLU GRJMP LSBO QEB IXWV ALD"
<b>Input word</b>:       "fox"
───────────────────────────────────────────────────────────────
<b>Output plaintext</b>: "the quick brown fox jumps over the lazy dog"</div>
  </article>
{% endblock %}

{% block function_signature %}
break_caesar_cipher(ciphertext, known_word)
{% endblock %}


{% block python_code_stub %}
def break_caesar_cipher(ciphertext, known_word):
    alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    plaintext = ''

    # Your code goes here!

    return plaintext
{% endblock %}

{% block javascript_code_stub %}
function break_caesar_cipher(ciphertext, known_word) {
  let alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  let plaintext = "";

  // Your code goes here!

  return plaintext;
}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    {% if solved_by_user %}
      <h3>Solution notes</h3>
      <ul>
        <li>Substitution ciphers such as the Caesar cipher seem to have been pretty secure up until <a href="https://en.wikipedia.org/wiki/Frequency_analysis">frequency analysis</a> was developed by Al-Kindi in the 9th century.</li>
        <li>One way to make the Caesar cipher slightly more secure is to remove the spaces between words before encryption as it's easy to guess small 1-2 letter words. But even then, your method should still break the Caesar cipher and frequency analysis would still work.</li>
      </ul>
    {% endif %}
    <h3>Notes</h3>
    <ul>
      <li>The Caesar cipher is named after the Roman general and politician Julius Caesar (100-44 BC) who used it to secure military communications. He may or may not have been the first to use this kind of substitution cipher, but his writings survive to the present day and give the earliest example so it's named after him.</li>
      <li>The shift of 13 given in the input example corresponds to <a href="https://en.wikipedia.org/wiki/ROT13">ROT13</a> which uses a shift of 13 to both encrypt and decrypt, which works as there are 26 letters in the English alphabet.</li>
    </ul>
    <h3>References</h3>
    <dl>
      <dt><a href="https://en.wikipedia.org/wiki/The_Code_Book">The Code Book: The Science of Secrecy from Ancient Egypt to Quantum Cryptography</a>, Simon Singh (2000)</dt>
      <dd>Chapter 1 discusses the Caesar cipher. The rest of the book is an excellent historical account of cryptography.</dd>
    </dl>
  </div>
{% endblock %}

{% block discourse_topic_id %}17{% endblock %}
