{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
  electrical components and dictionaries.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  Let's use dictionaries (you don't have to of course) to look at resistors, which are common electric components found
  in virtually every electronic circuit. Resistors come with a resistance rating $\;\Omega$ (measured in Ohms) that
  describes how difficult it is to pass an electric current through the resistor. This resistance rating is indicated by
  four or five colored bands on the resistor itself (see table). A resistor may have only one band, in which case it is
  a single blank band and the resistor has zero resistance.
</p>
<br>
<figure class="image" style="text-align: center;">
  <img src="{% static 'img/resistor_color_table.png' %}" style="width: 60%; margin: 0 auto;">
  <figcaption class="help">
    Resistor color table with example calculations for a four-band and a five-band resistor. (Image credit: <a
          href="https://www.digikey.com/en/articles/techzone/2017/apr/big-boys-race-young-girls-violet-wins-resistors-color-codes">Resistors
    and Color Codes, Digi-Key</a>)
  </figcaption>
</figure>
<br>
<p class="has-text-justified">
  For a four band resistor, the first two color bands indicate the first two digits of the resistance value with the
  third band indicating a multiplier, and the last band indicates a tolerance. For a five band resistor, the first three
  color bands indicate the first three digits of the resistance value followed by a fourth band (multiplier) and a fifth
  band (tolerance). Keep in mind that the tolerance is a relative tolerance, like ±5&percnt;.
</p>
<br>
<p class="has-text-justified">
  Using a list of colors as input compute the nominal resistance (i.e. as told by the colored bands, whithout any
  tolerance), as well as the minimum and maximum resistance value of the resistor, and return them in that order.
</p>
{% endblock %}

{% block input_description %}
  A list of colors (could be of length 1, 4, or 5).
{% endblock %}

{% block output_description %}
  The nominal, minimum, and maximum resistance of the resistor (in that order).
{% endblock %}

{% block examples %}
  <article class="message">
    <div class="message-header">
      <p>Example 1 (four-band resistor)</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input resistor band colors</b>: ["green", "blue", "yellow", "gold"]
<b>Output nominal resistance</b>: 560000
<b>Output minimum resistance</b>: 532000
<b>Output maximum resistance</b>: 588000
  </article>
  <article class="message">
    <div class="message-header">
      <p>Example 2 (five-band resistor)</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input resistor band colors</b>: ["red", "orange", "violet", "black", "brown"]
<b>Output nominal resistance</b>: 237.00
<b>Output minimum resistance</b>: 234.63
<b>Output maximum resistance</b>: 239.37
  </article>
{% endblock %}

{% block function_signature %}
resistance(band_colors)
{% endblock %}

{% block python_code_stub %}
digits = {
    'black': 0,
    'brown': 1,
    'red': 2,
    'orange': 3,
    'yellow': 4,
    'green': 5,
    'blue': 6,
    'violet': 7,
    'grey': 8,
    'white': 9
}

multiplier = {
    'pink': 0.001,
    'silver': 0.01,
    'gold': 0.1,
    'black': 1,
    'brown': 10,
    'red': 100,
    'orange': 10 ** 3,
    'yellow': 10 ** 4,
    'green': 10 ** 5,
    'blue': 10 ** 6,
    'violet': 10 ** 7,
    'grey': 10 ** 8,
    'white': 10 ** 9
}

tolerance = {
    'none': 0.2,
    'silver': 0.1,
    'gold': 0.05,
    'brown': 0.01,
    'red': 0.02,
    'green': 0.005,
    'blue': 0.0025,
    'violet': 0.001,
    'grey': 0.0005
}


def resistance(band_colors):
    n_bands = len(band_colors)

    nominal_R = 0
    minimum_R = 0
    maximum_R = 0

    # Your code goes here!

    return nominal_R, minimum_R, maximum_R
{% endblock %}

{% block javascript_code_stub %}
digits = {
  "black": 0,
  "brown": 1,
  "red": 2,
  "orange": 3,
  "yellow": 4,
  "green": 5,
  "blue": 6,
  "violet": 7,
  "grey": 8,
  "white": 9
}

multiplier = {
  "pink": 0.001,
  "silver": 0.01,
  "gold": 0.1,
  "black": 1,
  "brown": 10,
  "red": 100,
  "orange": 10 ** 3,
  "yellow": 10 ** 4,
  "green": 10 ** 5,
  "blue": 10 ** 6,
  "violet": 10 ** 7,
  "grey": 10 ** 8,
  "white": 10 ** 9
}

tolerance = {
  "none": 0.2,
  "silver": 0.1,
  "gold": 0.05,
  "brown": 0.01,
  "red": 0.02,
  "green": 0.005,
  "blue": 0.0025,
  "violet": 0.001,
  "grey": 0.0005
}

function resistance(band_colors) {
  let n_bands = band_colors.length;

  let nominal_R = 0;
  let minimum_R = 0;
  let maximum_R = 0;

  // Your code goes here!
  
  solution = [nominal_R, minimum_R, maximum_R];
  return solution;
}
{% endblock %}

{% block julia_code_stub %}
function resistance(band_colors)
    n_bands = length(band_colors)

    nominal_R = 0
    minimum_R = 0
    maximum_R = 0

    # Your code goes here!

    return nominal_R, minimum_R, maximum_R
end
{% endblock %}

{% block c_code_stub %}
void resistance(char** band_colors, int n_bands, double* nominal_R, double* minimum_R, double* maximum_R) {
    // Your code goes here!
}
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>Since $1\;\Omega$ is a very small resistance, it's more common to express resistance in kilohms
      ($1\;\text{k}\Omega = 1,000\;\Omega$), megaohms ($1\;\text{M}\Omega = 1,000,000\;\Omega$), or even gigaohms
      ($1\;\text{G}\Omega = 1,000,000,000\;\Omega$).
    </li>
    <li>Nowadays it's easier to use a multimeter to measure it's actual resistance value. Calculating a resistor's value
      and tolerance from the color bands used to be more commonplace in the past when multimeters weren't as widespread
      or cheap.
    </li>
    <li>If you need a very specific resistance you can chain resistors in series or parallel. Variable resistors also
      exist in the form of potentiometers and digital resistors.
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}18{% endblock %}
