{% extends "problems/problem.html" %}

{% load static %}

{% block problem_javascript %}
<!-- Only load Plotly for problems that use it since it's a big dependency. -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block you_will_learn %}
  the most powerful force in the world according to Einstein. <sup>[<a href="https://quoteinvestigator.com/2019/09/09/interest/">citation needed</a>]</sup>
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  Compound interest is when interest on a loan or investment is added back to the loan or investment. So it's like
  interest on interest! Compounding leads to exponential growth so it makes your investments grow big over time but
  also makes it much harder to pay off predatory loans and credit card debt.
</p>
<br>
<p class="has-text-justified">
  If you start with an amount of money $m$ and the compound interest is calculated once a year with interest rate $r$
  (as a fraction between 0 and 1) then after $n$ years you end up with a new amount $M$ given by

  $$ M = m (1 + r)^n $$
</p>
<br>

This plot shows the growth of $m = 1,000$ dollars compounded every year at 10% ($r = 0.1$) for $n = 25$ years.

<figure style="text-align: center;">
  <div id="compound-interest-figure"></id>
</figure>
<br>

<p class="has-text-justified">
  Submit some code with a function <tt>compound_interest(m, r, n)</tt> that computes the final amount $M$ after
  starting with an amount $m$ compounded yearly at a rate $r$ for $n$ years.
</p>
{% endblock %}

{% block input_description %}
Starting amount $m$, rate $r$, and number of years $n$.
{% endblock %}

{% block output_description %}
Final amount $M$.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example</p>
  </div>
  <div class="message-body"
       style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input</b>: 1000, 0.07, 25
<b>Output</b>: 5427.43</div>
</article>
{% endblock %}

{% block function_signature %}
compound_interest(m, r, n)
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>
      Charging compound interest on loans was and is still considered a kind of <a href="https://en.wikipedia.org/wiki/Usury">usury</a>
      by many religions and societies. The Romans and the Christian Bible condemn charging interest on loans to poor people as
      it is seen as a form of exploitation. On the extreme end, Islam forbids the charging of any kind of interest as it sees borrowing
      and lending as social transactions aimed at benefiting others and thus should not be profitable.
    </li>
    <li>
      The number $e$ was actually discovered by Jacob Bernoulli in 1683 when investigating compound interest.
      Now of course called Euler's number because of <a href="https://en.wikipedia.org/wiki/Stigler%27s_law_of_eponymy">Stigler's law</a>.
    </li>
    <li>
      The <a href="https://en.wikipedia.org/wiki/Rule_of_72">Rule of 72</a> is a quick rule/approximation for figuring
      out how long it would take for the amount to double: it's $72/r$ where $r$ is the interest rate as a percentage.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}300{% endblock %}
