{% extends "problems/problem.html" %}

{% load static %}

{% block useful_to_know %}
	summation.
{% endblock %}

{% block problem_body %}
  <br><br>
  <figure style="text-align: center;">
    <img src="{% static 'img/Riemann_sum_convergence.png' %}">
  </figure>
  <br>
{% endblock %}

{% block input_description %}
  A list of rectangle heights. Negative numbers indicate...

{% endblock %}

{% block output_description %}
  The sum of the rectangle areas. Rectangles with negative heights contribute negative area.
{% endblock %}

{% block examples %}
  <article class="message">
    <div class="message-header">
      <p>Example</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input list of rectangles</b>: "B+"
<b>Output area</b>: ???</div>
  </article>
{% endblock %}

{% block function_signature %}
definite_integral(n)
{% endblock %}

{% block python_code_stub %}
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>
      Thanks to <a href="https://discourse.projectlovelace.net/t/possible-new-problem-definite-integrals/59">
      rmueller</a> for suggesting this problem!
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

