<!--def area_of_rectangles(rects, dx):
  Project Lovelace: Problem I4
  DNA sequences (strings, biology)
-->

{% extends "problems/problem.html" %}

{% block required %}
    <p><b>Required math</b>: Required Math Goes Here.</p>
{% endblock %}

{% block problem_body %}
    <p>
        A DNA sequence is a string of <tt>ATCG</tt> characters representing possible nucleotide
        base. The complement of a DNA sequence is obtained by substituting each base with its base
        pair (<tt>A</tt> and <tt>T</tt> are one pair. <tt>C</tt> and <tt>G</tt> is the other).
        Together the two strands containing the sequence form a DNA molecule. A restriction enzyme
        cuts off DNA strands at a specific binding site in a DNA sequence. EcoRII is a restriction
        enzyme that searches for the sequence <tt>---CCWGG---</tt> where <tt>W</tt> could be either
        <tt>A</tt> or <tt>T</tt>, and splices it open like <tt>---NN___CCWGGNN---</tt> where
        another DNA strand can be spliced into the underscored region.
    </p>
    <p>
        Given a DNA sequence to be spliced using EcoRII and a DNA strand to be spliced in
        afterward, what is the complement of the DNA sequence resulting from the splicing process?
    </p>
{% endblock %}

{% block input_description %}
    <p>
        The DNA sequence to be spliced using the EcoRII restriction enzyme on the first line.
        The sequence strand to be inserted on the second line.
    </p>
{% endblock %}

{% block input_example %}
    CCAGGACCAGGCCCCAGGTGGGGCCAGGCCAGGCTC<br>
    GTACTC
{% endblock %}

{% block output_description %}
    <p>
        A single line containing the complementary DNA sequence after splicing.
    </p>
{% endblock %}

{% block output_example %}
    CATGAGGGTCCTCATGAGGGTCCGGCATGAGGGTCCACCCCCATGAGGGTCCCATGAGGGTCCGAG
{% endblock %}
