{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
  trilateration, equation of a circle, and systems of linear equations.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  To figure out how far away an earthquake is you just need one seismograph but to pinpoint where the earthquake
  happened, it's epicenter, you need three seismographs in three different locations.
  Say an earthquake occurs at some unknown location $(x_0,y_0)$ on a 2D plane. It will emit seismic waves which travel
  through the Earth and are detected by seismograph stations. More than one type of wave is emitted but we'll just
  consider the faster compressional P-waves which travel at around $v = 6 \; \text{km/s}$ and arrive at the seismographs
  first.
</p>
<br>
<figure style="text-align: center;">
  <img style="width: 70%; margin: 0 auto;" src="{% static 'img/earthquake_trilateration.png' %}">
  <figcaption class="help">
    To give an idea of the problem, here's a schematic of the domain with the three seismographs at the centers of the
    colored circles. We can draw a circle around each seismograph whose radius is equal to the distance from the
    seismograph to the earthquake epicenter.
  </figcaption>
</figure>
<figure style="text-align: center;">
  <img style="width: 50%; margin: 0 auto;" src="{% static 'img/seismic_waves.jpg' %}">
  <figcaption class="help">
    The P-waves are faster and arrive at the seismograph before the shearing S-waves. They are both types of elastic
    body waves as they travel through the Earth with the P-waves being longitudinal while the S-waves being transverse.
    You can also think of the P and S as standing for primary and secondary. The surface waves are the slowest of the
    three and do the most damange as evidenced by the high ground motion registered on the seismograph. (Image credit:
    <a href="http://library.open.oregonstate.edu/earthquakes/chapter/earthquake-basics/">Living with Earthquakes in the
      Pacific Northwest, Yeats</a>)
  </figcaption>
</figure>
<br>
<p class="has-text-justified">
  Given the position of three seismographs $(x_i,y_i)$ and arrival time of the seismic waves at each seismograph $t_i$
  where $i=1,2,3$ as inputs, determine and return the earthquake's epicenter $(x_0,y_0)$.
</p>
{% endblock %}

{% block input_description %}
  $(x_i,y_i)$ in kilometers where $-100 < x,y < 100$ and $t_i$ in seconds for $i=1,2,3$.
{% endblock %}

{% block output_description %}
  The earthquake's epicenter $(x_0,y_0)$ in kilometers.
{% endblock %}

{% block examples %}
  <article class="message">
    <div class="message-header">
      <p>Example</p>
    </div>
    <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input x1</b>:   8.382353226
<b>Input y1</b>: -58.003720814
<b>Input t1</b>:  12.860754193
<b>Input x2</b>: -13.590571819
<b>Input y2</b>:  73.976069096
<b>Input t2</b>:  22.847488548
<b>Input x3</b>:  77.291172370
<b>Input y3</b>:   7.508764456
<b>Input t3</b>:   5.767809783
<b>Output x0</b>:  79.06746127
<b>Output y0</b>: -27.05247781</div>
  </article>
{% endblock %}

{% block function_signature %}
earthquake_epicenter(x1, y1, t1, x2, y2, t2, x3, y3, t3)
{% endblock %}

{% block python_code_stub %}
v = 3.0  # velocity of seismic waves [km/s]

def earthquake_epicenter(x1, y1, t1, x2, y2, t2, x3, y3, t3):
    x = 0
    y = 0

    # Your code goes here!

    return x, y
{% endblock %}

{% block javascript_code_stub %}
const v = 3.0;  // velocity of seismic waves [km/s]

function earthquake_epicenter(x1, y1, t1, x2, y2, t2, x3, y3, t3) {
  let x = 0;
  let y = 0;

  // Your code goes here!

  return [x, y];
}
{% endblock %}

{% block julia_code_stub %}
const v = 3.0  # velocity of seismic waves [km/s]

function earthquake_epicenter(x1, y1, t1, x2, y2, t2, x3, y3, t3)
end
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>The whole process of using points, distances, and circles to determine the location of another point (in our
      case the earthquake) is called trilateration and is how a GPS determines its location.
    </li>
    <li>Earthquakes usually happen below the surface so technically the epicenter is the location on the Earth's surface
      below which the earthquake occured while the earthquake's focus is where it actually happened inside the Earth.
    <li>We're also assuming that the earthquake happens very close to the surface and that the seismographs are close to
      each other so the Earth's curvature is negligible. When the seismographs are far apart which is typical for
      earthquakes that happen below the ocean or when the earthquake happens deep below the ground, the Earth's
      spherical shape matters a lot.
    </li>
    <li>The <a href="https://en.wikipedia.org/wiki/P-wave#Velocity">actual velocity of the P-waves</a> can vary quite a
      bit depending on the medium it's traveling through. We picked a typical value of 6 km/s which is roughly the
      velocity of a P-wave at the Earth's surface.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}23{% endblock %}

