{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
  El Niño&ndash;Southern Oscillation, 2D arrays, and reading files.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  El Niño is a naturally occurring climate oscillation event in the equatorial Pacific which returns every 2&ndash;7
  years. Originally, El Niño was the name used for warmer than average sea surface temperatures in the Pacific Ocean off
  the coast of South America but we now know that it's responsible for sea-surface temperature changes in the Pacific
  Ocean and global weather events. The ocean warming and associated wet climate off the coast of South America, which
  brings disastrous floods and reduces fishing stocks, is one of these events.
</p>
<br>
<figure class="has-text-centered">
  <img src="{% static 'img/nino_region.jpg' %}">
  <figcaption class="is-italic">
    El Niño is associated with warm sea surface temperatures (SSTs) in the Equatorial Pacific. Scientists look at these SST
    anomalies in specific regions to determine whether El Niño is in effect. This map shows 4 regions. Scientists most often
    use SST anomalies in the Niño 3.4 region to compute the Oceanic Niño Index (ONI) which tells you how strong El Niño is
    when it is positive, and how strong La Niña is when it is negative. The ONI is computed using a 3-month running mean of
    SST anomalies in the Niño 3.4 region (5°N-5°S, 120°-170°W).
  </figcaption>
</figure>
<br>
<p class="has-text-justified">
  ENSO is the &ldquo;El Niño-Southern Oscillation,&rdquo; the name scientists use for El Niño. The other part of the
  climate oscillation, the Southern Oscillation, is a see-saw shift in surface air pressure between the eastern and
  western halves of the Pacific. When pressure rises in the east, it falls in the west and vice versa. In the 1950's
  scientists realized that El Niño and the Southern Oscillation were parts of the same event.
</p>
<br>
<p class="has-text-justified">
  Warm water generally appears off the coast of South America close to Christmas, and reaches its peak warmth in fall of
  the following year. After peaking, the waters will tend to cool slowly through the winter and spring of the next year.
  The effects can be felt continually around the globe, for more than a year in some places.
</p>
<br>
<p class="has-text-justified">
  The Multivariate ENSO Index (MEI) is a method used to characterize the intensity of an ENSO event using a single
  number. It is more comprehensive than the Oceanic Niño Index (ONI) described above. The MEI accounts for sea level pressure,
  zonal and meridional components of the surface wind, sea surface temperature, surface air temperature and cloudiness.
</p>
<br>
<p class="has-text-justified">
  The MEI is calculated for each &ldquo;sliding bi-monthly period&rdquo; (December-January, January-February, February-March, etc.)
  for a total of 12 per year. A warm El Niño event occurs when the MEI is at or above +0.5, and a cold La Niña event occurs when
  the MEI is at or below -0.5. The threshold is further broken down into weak (with a 0.5 to 1.0 anomaly), moderate (1.0 to 1.5),
  strong (1.5 to 2.0) and very strong (≥ 2.0) events.
</p>
<br>
<figure class="has-text-centered">
  <img src="{% static 'img/mei_time_series.png' %}">
  <figcaption class="is-italic">
    Multivariate ENSO Index (MEI) time series since 1950. Positive MEI is in red and corresponds to El Niño events while negative MEI
    is in blue and corresponds to La Niña events.
  </figcaption>
</figure>
<br>
<p>
  Write a function that reads in this text file (<a href="{% static 'resources/mei.ext_index.txt' %}"><tt>mei_index.txt</tt></a>)
  containing the MEI index values from 1871 to 2016 and determines whether a specific year experienced an El Niño event or a
  La Niña event (and the strength of the event). The file is provided by NOAA (<a href="https://psl.noaa.gov/enso/mei/">source</a>).
</p>
<br>
<p>
  To determine whether a particular year experienced an El Niño or a La Niña event, use the maximum absolute MEI value in that year. So
  if one year saw a maximum MEI value of +1.8 and a minimum MEI value of -1.2, then it would be a strong El Niño event.
</p>
{% endblock %}

{% block input_description %}
Year as an integer.
{% endblock %}

{% block output_description %}
<p>
Two strings:
<ol>
  <li>"El Nino", "La Nina", or "Neither" depending whether the year had an El Niño or La Niña event (or neither).</li>
  <li>"weak", "moderate", "strong, or "very strong" depending on the event's intensity. If there was no event, return "none" for the intensity.</li>
</ol>
</p>
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input year</b>: 2016
<b>Output ENSO classification</b>: "El Nino"
<b>Output ENSO strength</b>:       "very strong"</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input two-year range</b>: 1996
<b>Output ENSO classification</b>: "Neither"
<b>Output ENSO strength</b>:       "none"</div>
</article>
{% endblock %}

{% block function_signature %}
enso_classification(year)
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>References</h3>
  <dl>
    <dt>
      Wolter &amp; Timlin (2011), <a href="https://doi.org/10.1002/joc.2336">El Niño/Southern Oscillation behaviour since
      1871 as diagnosed in an extended multivariate ENSO index (MEI.ext)</a>, International Journal of Climatology <b>31</b>, 1074-1087.
    </dt>
  </dl>
  <br>
</div>
{% endblock %}

{% block discourse_topic_id %}21{% endblock %}
