{% extends "problems/problem.html" %}

{% load static %}

{% block useful_to_know %}
	???.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  If you ever flew in a plane, you probably realized that the plane took a curved path instead of a straight path (if
  you were looking at a flat map). This is because on a sphere, the shortest distance between two points is along a
  <i>great circle</i>. This is more obvious when you plot the straight and curved paths on a flat map (which uses the
  Mercator projection) and on a sphere.
</p>
<br>
<figure style="text-align: center;">
  <img src="{% static 'img/Flight_paths_Mercator.png' %}">
</figure>
<br>
<br>
<figure style="text-align: center;">
  <img src="{% static 'img/Flight_paths_sphere.png' %}">
</figure>
<br>

<p class="has-text-justified">
  The distance of the curved path between two points $(\phi_1, \lambda_1)$ and $(\phi_2, \lambda_2)$ where $\phi$
  indicates latitude and $\lambda$ indicates longitude is

  $$ 2R \sqrt{ \sin^2 \left( \frac{\phi_2 - \phi_1}{2} \right) + \cos\phi_1 \cos\phi_2 \sin^2 \left( \frac{\lambda_2 -
     \lambda_1}{2} \right)} $$

  where $R$ = 6372.1 km is the radius of the Earth.
</p>
{% endblock %}

{% block input_description %}
(Latitude, longitude) coordinates of two points.
{% endblock %}

{% block output_description %}
The distance between the points in kilometers (km).
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example</p>
  </div>
  <div class="message-body"
       style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input point 1
    (latitude, longitude) </b>: (a, b)
    <b>Input point 2 (latitude, longitude) </b>: (c, d)
    <b>Output distance</b>: ???
  </div>
</article>
{% endblock %}

{% block function_signature %}
shortest_distance(a, b, c, d)
{% endblock %}

{% block python_code_stub %}
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
<div class="content">
  {% if solved_by_user %}
  <h3>Solution notes</h3>
  <ul>
    <li>In this problem we used the <a href="https://en.wikipedia.org/wiki/Haversine_formula">Haversine formula</a>
      which calculates the <a href="https://en.wikipedia.org/wiki/Great-circle_distance">great-circle distance</a>
      assuming the Earth is a perfect sphere so it can be off by up to 0.5%. <a
              href="https://en.wikipedia.org/wiki/Vincenty%27s_formulae">Vincenty's formulae</a> account for the oblate
      spheroid shape of the Earth and are much more accurate, being off only by <0.5 mm.
    </li>
  </ul>
  {% endif %}

  <h3>Notes</h3>
  <ul>
    <li></li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

