{% extends "base.html" %}

{% block page_title %}
  Problems | Project Lovelace
{% endblock %}

{% block preload_javascript %}
<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}


{% block body %}
<br>
<section classs="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
    {% if latest_problem_list %}
    <div class="table-container">
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th><abbr title="Problem ID">#</abbr></th>
            <th></th>
            <th>Problem</th>
            <th>Submissions</th>
            <th style="width: 120px;"><abbr title="Higher = more math and scientific knowledge required">Difficulty</abbr></th>
            <th style="width: 120px;"><abbr title="Higher = more time needed to code up a solution">Timesink</abbr></th>
          </tr>
        </thead>

        <tbody>
            {% for problem in latest_problem_list %}
              {% if problem.visible %}
                <tr>
                  <th>{{ problem.order_id  }}</th>
                  <th>
                    {% if user.is_authenticated %}
                      {% if problem.id in problems_solved %}
                        <i class="fas fa-check has-text-success"></i>
                      {% endif %}
                    {% endif %}
                  </th>
                  <td>
                    <a href="{% url 'problems:detail' problem.name %}">{{ problem.title }}</a>

                    {% if problem.subject == 'physics' %}
                      <span class="tag is-info">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'math' %}
                      <span class="tag is-warning">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'earth science' %}
                      <span class="tag is-success">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'chemistry' %}
                      <span class="tag is-danger">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'biology' %}
                      <span class="tag is-primary">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'astronomy' %}
                      <span class="tag is-black">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'engineering' %}
                      <span class="tag is-light">{{ problem.subfield }}</span>
                    {% elif problem.subject == 'computer science' %}
                      <span class="tag is-dark">{{ problem.subfield }}</span>
                    {% endif %}

                  </td>
                  <td align="center">{{ problem_submissions | get_item:problem.id }}</td>

                  {% if problem.difficulty <= 5 %}
                    <td><progress class="progress is-success" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% elif problem.difficulty > 5 and problem.difficulty <= 10 %}
                    <td><progress class="progress is-warning" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% else %}
                    <td><progress class="progress is-danger" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% endif %}

                  {% if problem.timesink <= 5 %}
                    <td><progress class="progress is-success" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% elif problem.timesink > 5 and problem.timesink <= 10 %}
                    <td><progress class="progress is-warning" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% else %}
                    <td><progress class="progress is-danger" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>No questions are available.</p>
    {% endif %}

<script>
// Sortable tables
// Source: https://stackoverflow.com/a/49041392 and https://stackoverflow.com/a/53880407
// Might need this fix in the future: https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript#comment87524833_49041392

const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent || tr.children[idx].querySelector('progress').value;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
  const table = th.closest('table');
  const tbody = table.querySelector('tbody');
  Array.from(tbody.querySelectorAll('tr'))
    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
    .forEach(tr => tbody.appendChild(tr) );
})));
</script>
{% endblock %}
