{% extends "base.html" %}

{% block body %}
<br>
<section classs="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
    {% if latest_problem_list %}
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th><abbr title="Problem ID">#</abbr></th>
            <th></th>
            <th>Problem</th>
            <th>Solved by</th>
            <th style="width: 120px;"><abbr title="Higher = more math and scientific knowledge required">Difficulty</abbr></th>
            <th style="width: 120px;"><abbr title="Higher = more time needed to code up a solution">Timesink</abbr></th>
          </tr>
        </thead>

        <tbody>
            {% for problem in latest_problem_list %}
              {% if problem.visible %}
                <tr>
                  <th>{{ problem.id  }}</th>
                  <th><i class="fas fa-check has-text-success"></i></th>
                  <td>
                    <a href="{% url 'problems:detail' problem.name %}">{{ problem.title  }}</a>
                    <span class="tag is-info">Physics</span>
                  </td>
                  <td>{{ problem.solved_by }}</td>

                  {% if problem.difficulty <= 5 %}
                    <td><progress class="progress is-success" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% elif problem.difficulty > 5 and problem.difficulty <= 10 %}
                    <td><progress class="progress is-warning" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% else %}
                    <td><progress class="progress is-danger" value="{{ problem.difficulty }}" max="15"></progress></td>
                  {% endif %}
                  
                  {% if problem.timesink <= 5 %}
                    <td><progress class="progress is-success" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% elif problem.timesink > 5 and problem.timesink <= 10 %}
                    <td><progress class="progress is-warning" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% else %}
                    <td><progress class="progress is-danger" value="{{ problem.timesink }}" max="15"></progress></td>
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No questions are available.</p>
    {% endif %}
{% endblock %}
