{% extends "problems/problem.html" %}

{% block useful_to_know %}
    loops, strings.
{% endblock %}

{% block problem_body %}
  <p class="has-text-justified">Ever since ancient civilizations could write letter to each other, people have wanted to keep some messages secret in case they were intercepted by someone else. To do this, they used an encryption scheme or secret code to encrypt their message before sending it. The receiver could then decrypt it and read it with knowledge of the encryption scheme. In cryptography the original unencrypted message is called the plaintext (all in lowercase) while the encrypted message is the ciphertext (ALL IN UPPERCASE).</p>
  <br>
  <p class="has-text-justified">A famous method of encrypting a message is the Caesar cipher. It involves using a shifted alphabet instead of the regular alphabet. For example, a shift of 13 will involve changing A to N, B to O, C to P, and so on. It is a very weak cipher that provides no security nowadays but was actually secure at the time when no one knew of cryptography. Here you will show that knowledge of a single word is enough to break the cipher and reveal the secret message.</p>
{% endblock %}

{% block input_description %}
  The ciphertext to be decrypted, and one word that present in the ciphertext.
{% endblock %}

{% block output_description %}
  The original message in lower case letters.
{% endblock %}

{% block input_example %}
  ("QEB NRFZH YOLTK CLU GRJMP LSBO QEB IXWV ALD", FOX)
{% endblock %}

{% block output_example %}
  THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
{% endblock %}

{% block code_stub %}
import string

def break_caesar_cipher(ciphertext, known_word):
    pass
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    <ul>
      <li>It's named after the Roman general Julius Caesar (100-44 BC) who used it to secure military communications unlike the Caesar salad.</li>
      <li>This is why you want to leave no spaces when encrypting a message! But then you can still do frequency analysis.</li>
      <li>The shift of 13 given in the description corresponds to ROT13.</li>
    </ul>
  </div>
{% endblock %}