<!--
  Project Lovelace: Problem I5
  Caesar cipher (lists, cryptography)
-->

{% extends "problems/problem.html" %}

{% block required %}
    <p><b>Required math</b>: None.</p>
{% endblock %}

{% block problem_body %}
    <p>
      Ever since the invention of writing ancient civilizations have sent written messages amongst themselves, and it was commonly the case that they wanted these messages to remain secret lest they fall into enemy hands.

      <!-- * Cryptography is the study of X. Explain that ciphertexts are usually written in all caps and periods are left out. -->

      A famous method of encrypting a message is the Caesar cipher, named after the Roman general Julius Caesar who used it to secure military communications. It involves using a shifted alphabet instead of the regular alphabet. It is a very weak cipher that provides no security nowadays. As you will show, knowledge of a single word is enough to break the cipher and reveal the secret message.

      <!-- Post problem comment: this is why you want to leave no spaces when encrypting a message! -->
    </p>
{% endblock %}

{% block input_description %}
  <p>
    Line 1: The ciphertext to be decrypted.
    Line 2: The one word that is definitely present in the ciphertext.
  </p>
{% endblock %}

{% block input_example %}
    QEB NRFZH YOLTK CLU GRJMP LSBO QEB IXWV ALD <br>
    FOX
{% endblock %}

{% block output_description %}
  <p>
    The original message in lower case letters.
  </p>
{% endblock %}

{% block output_example %}
    THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
{% endblock %}
