<!--
  Project Lovelace: Problem I3
  Chaos (loops, chaos theory or systems science)
-->

{% extends "problems/problem.html" %}

{% block required %}
    <p>
      <b>Concepts</b>: loops.
      <b>Required math</b>: addition and multiplication.
    </p>
{% endblock %}

{% block problem_body %}
    <p>
        Let's look at an example of chaos in nature, the logistic map. It's a simplified model used to describe population sizes and can be written mathematically as $x_{n+1} = r*x_n(1 - x_n)$ where $0 < r < 4$ is a constant and $0 < x_n < 1$ represents the population size. Starting with an initial population size of $x_0 = 0.5$, your program should read in a value for $r$ then calculate and print out the first 50 values of the logistic map $x_0, x_1, x_2, \dots, x_49, x_50$ on separate lines. You should see different behavior depending on the value of $r$.
    </p>
{% endblock %}

{% block input_description %}
    <p>
        The value of $r$.
    </p>
{% endblock %}

{% block input_example %}
    2.81
{% endblock %}

{% block output_description %}
    <p>
        The first 50 values of the logistic map $(x_0, x_1, x_2, \dots, x_49, x_50)$ on separate lines, with at least 6 decimal place accuracy.
    </p>
{% endblock %}

{% block output_example %}
    0.500000<br>
    0.702500<br>
    0.587272<br>
    0.681098<br>
    0.610342<br>
    0.668287<br>
    0.622919<br>
    0.660043<br>
    0.630525<br>
    0.654627<br>
    0.635315<br>
    0.651049<br>
    0.638388<br>
    0.648685<br>
    0.640379<br>
    0.647126<br>
    0.641675<br>
    0.646098<br>
    0.642521<br>
    0.645422<br>
    0.643075<br>
    0.644978<br>
    0.643438<br>
    0.644686<br>
    0.643675<br>
    0.644494<br>
    0.643831<br>
    0.644368<br>
    0.643933<br>
    0.644286<br>
    0.644000<br>
    0.644232<br>
    0.644044<br>
    0.644196<br>
    0.644073<br>
    0.644173<br>
    0.644092<br>
    0.644157<br>
    0.644104<br>
    0.644147<br>
    0.644113<br>
    0.644141<br>
    0.644118<br>
    0.644136<br>
    0.644121<br>
    0.644134<br>
    0.644124<br>
    0.644132<br>
    0.644125<br>
    0.644130<br>
    0.644126<br>
{% endblock %}
