{% extends "problems/problem.html" %}

{% block useful_to_know %}
  2D arrays, reading files.
{% endblock %}

{% block problem_body %}
  <p class="has-text-justified">El Niño is a naturally occurring event in the equatorial region which causes temporary changes in the world climate. Originally, El Niño was the name used for warmer than normal sea surface temperatures in the Pacific Ocean off the coast of South America. Now, El Niño has come to refer to a whole complex of Pacific Ocean sea-surface temperature changes and global weather events. The ocean warming off South America is just one of these events.</p>
  <br>
  <p class="has-text-justified">ENSO is the "El Niño-Southern Oscillation," the name scientists use for what is often called El Niño. The Southern Oscillation is a see-saw shift in surface air pressure between the eastern and western halves of the Pacific. When pressure rises in the east, it falls in the west and vice versa. In the 1950's scientists realized that El Niño and the Southern Oscillation were parts of the same event.</p>
  <br>
  <p class="has-text-justified">El Niños occur irregularly approximately every two to seven years. Warm water generally appears off the coast of South America close to Christmas, and reaches its peak warmth in the eastern Pacific during the late fall of the following year. After peaking, the waters will tend to cool slowly through the winter and spring of the next year. Effects can be felt continually around the globe for more than a year, though this is generally not the case in any one place.</p>
  <br>
  <p class="has-text-justified">The Multivariate ENSO Index (MEI) is a method used to characterize the intensity of an ENSO event using a single number. A warm (El Nino) event occurs when the MEI is at or above +0.5 for five consecutive two-month periods, and a cold (La Nina) event occurs when the MEI is at or below -0.5 for five consecutive two-month periods. The threshold is further broken down into weak (with a 0.5 to 0.9 anomaly), moderate (1.0 to 1.4), strong (1.5 to 1.9) and very strong (≥ 2.0) events.</p>
{% endblock %}

{% block input_description %}
  A file (mei_index.txt) containing the MEI index values for each two-month period from 1950 to 2017. See https://www.esrl.noaa.gov/psd/enso/mei/table.html for more details.
{% endblock %}

{% block output_description %}
  A table of El Nino events (marked by their year, e.g. 1982-83, 2014-2016) that were weak, moderate, strong, and very strong and a similar list of La Nina events. (See example for formatting.)
{% endblock %}

{% block input_example %}
{% endblock %}

{% block output_example %}
  El Nino<br>
  weak     Moderate  Strong   Very Strong<br>
  1951-52  1963-64   1957-58  1982-83<br>
  1952-53  1986-87   1965-66  1997-98<br>
  1953-54  1991-92<br>
  1958-59<br>
  <br>
  La Nina<br>
  Weak     Moderate  Strong<br>
  1950-51  1955-56   1973-74<br>
  1954-55  1970-71<br>
  1964-65<br>
{% endblock %}

{% block code_stub %}
def enso_classification(year):
    pass
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    <ul>
      <li>Should be tons of really good videos on this!</li>
    </ul>
  </div>
{% endblock %}