{% extends "problems/problem.html" %}

{% block useful_to_know %}
  loops.
{% endblock %}

{% block problem_body %}
  <p class="has-text-justified">
    Let's look at an example of chaos arising from simplicity in nature: the logistic map. It's a simplified model used to describe population sizes and can be written mathematically as $x_{n+1} = rx_n(1 - x_n)$ where $0 < r < 4$ is a parameter and $0 < x_n < 1$ represents the population size at time step $n$. Starting with an initial population size of $x_0 = 0.5$ and $r$ as an input parameter, return a list of the first 50 values of the logistic map $x_0, x_1, x_2, \dots, x_{49}, x_{50}$. You should see different behavior depending on the value of $r$, but we'll leave you to play around with it and we'll have more to say on the solution notes.
  </p>
{% endblock %}

{% block input_description %}
  The parameter $r$.
{% endblock %}

{% block output_description %}
  A list containing the first 50 values of the logistic map $(x_0, x_1, x_2, \dots, x_{49}, x_{50})$.
{% endblock %}

{% block input_example %}
    2.81
{% endblock %}

{% block output_example %}
  [0.500000, 0.702500, 0.587272, ⋯, 0.644125, 0.644130, 0.644126]
{% endblock %}

{% block code_stub %}
def logistic_map(r):
    return x
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    <ul>
      <li>There's a huge amount of stuff we could say about the logistic map.</li>
    </ul>
  </div>
{% endblock %}

{% block discourse_topic_id %}15{% endblock %}

