{% extends "problems/problem.html" %}

{% block useful_to_know %}
  if statements, square roots.
{% endblock %}

{% block problem_body %}
  <p class="has-text-justified">An exoplanet is a planet orbiting a star outside of our own solar system. We can now actually detect these planets! Turns out there are a lot of them and we want to know if anything lives there. How far the exoplanet is from its host star can determine whether it can support life or not. If it's too close to the star the planet would be too hot and cannot support life. Too far and now it's too cold to support life. There is a sweet spot called the circumstellar habitable zone (CHZ) in which a planet's surface is just the right temperature to support liquid water: not too hot and not too cold.</p>
  <br> 
  <p class="has-text-justified">One simple definition is that the CHZ is a ring around the star with inner radius $\displaystyle r_i = \sqrt{\frac{L}{0.54}}$ and outer radius $\displaystyle r_o = \sqrt{\frac{L}{1.1}}$. The radii $r_i$ and $r_o$ are given in astronomical units (1 au is roughly the distance between the Sun and the Earth) and $L$ is the star's luminosity as a multiple of the Sun's luminosity.</p>
  <br>
  <p class="has-text-justified">Given a star's absolute luminosity $L$ and the planet's distance from the star $r$, your program should print "too hot" if the planet is too close to the star, "too cold" if it's too far away from the star, and "just right" if its in the CHZ.</p>
{% endblock %}

{% block input_description %}
  The The star's absolute luminosity $L$ and the planet's distance from the star $r$.
{% endblock %}

{% block output_description %}
  The string "too cold" if the planet is too far away, "too hot" if it is too close, or "habitable" if it is within the CHZ.
{% endblock %}

{% block input_example %}
  (L=1.11, r=1.04)
{% endblock %}

{% block output_example %}
  just right
{% endblock %}

{% block code_stub %}
from math import sqrt

def habitable_exoplanet(L, r):
    pass
{% endblock %}

{% block notes_and_references %}
  <div class="content">
    <ul>
      <li>You just created (or will create) a basic habitable zone calculator! We still don't know much about circumstellar habitable zones so even though it's basic it's still pretty good.</li>
    </ul>
  </div>
{% endblock %}

{% block discourse_topic_id %}12{% endblock %}

