<!--
  Project Lovelace: Problem I2
  Habitable exoplanets (conditional statements, planetary science)
-->

{% extends "problems/problem.html" %}

{% block required %}
    <p><b>Required math</b>: None.</p>
{% endblock %}

{% block problem_body %}
    <p>
      An exoplanet is any planet orbiting a star outside of our own solar system. We can now detect these planets and are interested whether they can harbor life. A major consideration is how far away the planet is from its host star. If it's too close to the star the planet would be too hot and cannot support life. Too far and it's too cold to support life. There is a sweet spot called the circumstellar habitable zone (CHZ) in which a planet's surface is just the right temperature to support liquid water.

      Where exactly the CHZ lies is still an open debate but one simple definition is that the CHZ is a ring around the star with inner radius $r_i = \sqrt{\frac{L_\mathrm{star}}}{0.54}}$ and outer radius $r_o = \sqrt{\frac{L_\mathrm{star}}}{1.1}}$. The radii $r_i$ and $r_o$ are given in astronomical units (1 au is roughly the distance between the Sun and the Earth) and $L_\mathrm{star}$ is the star's luminosity in units of the Sun's luminosity.

      Given a star's absolute luminosity $L_\mathrm{star}$ and the planet's distance from the star $r$, your program should print "too hot" if the planet is too close to the star, "too cold" if it's too far away from the star, and "just right" if its in the CHZ.
    </p>
{% endblock %}

{% block input_description %}
  <p>
    Line 1: The star's absolute luminosity $L_\mathrm{star}$.
    Line 2: The planet's distance from the star $r$.
  </p>
{% endblock %}

{% block input_example %}
  1.11
  1.04

{% endblock %}

{% block output_description %}
  <p>
    The string "too cold", "too hot", or "habitable".
  </p>
{% endblock %}

{% block output_example %}
  just right
{% endblock %}
