{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	the simplest climate model.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  In this first problem on climate modeling we'll look at the simplest posible climate model of the Earth, which ends up
	being one equation. It's a zero-dimensional energy balance model where we'll assume that the energy absorbed by the
	Earth is equal to the energy being radiated out by the Earth. We can use it to calculate the Earth's average
	temperature. We can call it the <i>rock-star</i> model because we basically have a star that's heating up a rocky
	planet floating through space.

  We can call this balanced state <i>radiative equilibrium</i> where

  $$ \mathrm{Energy in} = \mathrm{Energy out} $$
</p>

<h3>Calculating energy in</h3>
<p class="has-text-justified">
  The solar power hitting the top of the atmosphere is given by the
	<a href="https://en.wikipedia.org/wiki/Solar_constant">solar constant</a> $S = 1361 \; \mathrm{W/m}^2$. It's
	very high at the top of the atmosphere but a lot of it gets absorbed by the atmosphere, especially by clouds, so the
	solar power hitting the Earth's surface is lower than $S$.

	The sun shines on only half of the Earth at a time so all that solar power is incident on a circular area $\pi R^2$
	where $R$ = 6371 km is the radius of the Earth. So the total solar energy reaching the Earth is $S\pi R^2$.

	But some of the solar energy is reflected back to space by stuff like clouds, snow, and sand. The fraction reflected
	back is called the <a href="https://en.wikipedia.org/wiki/Albedo">albedo</a> $a$ which is between 0 (everything is
	absorbed) and 1 (everything is reflected). Clouds and snow have a pretty high albedo while forests and the ocean have
	a pretty low albedo, but on average Earth's albedo is $a \approx 0.306$. So the total energy absorbed by the Earth is

  $$ \mathrm{Energy in} = (1 - a) S \pi R^2 $$
</p>

<h3>Calculating energy out</h3>
<p class="has-text-justified">
	We can treat the Earth as a gray body that radiates thermal energy (or heat) everywhere on its surface according to the
	<a href="https://en.wikipedia.org/wiki/Stefan%E2%80%93Boltzmann_law">Stefan-Boltzmann law</a> $\sigma \varepsilon T^4$
	where $\sigma = 5.670374419 \times 10^{-8} \mathrm{W} \cdotp \mathrm{m}^{-2} \cdotp \mathrm{K}^{-4}$ is the
	Stefan-Boltzmann constant and $T$ is the temperature of the Earth.

	$\varepsilon \approx 0.612$ is the <a href="https://en.wikipedia.org/wiki/Emissivity">emissivity</a> which is a
	measure of how good a body is at emitting thermal energy and is also a number between 0 (perfect absorber that emits
	no heat) and 1 (perfect emitter). The emissivity of the Earth varies but on average it's $\varepsilon \approx 0.612$.

	This energy is being emitted everywhere on the Earth's surface so to get the total energy emitted we multiply by the
	surface area of the Earth $4\pi R^2$ to get
  $$ \mathrm{Energy out} = 4\pi R^2 \sigma \varepsilon T^4 $$
</p>

<h3>Calculating the Earth's temperature</h3>
<p class="has-text-justified">
  From $\mathrm{Energy in} = \mathrm{Energy out}$ we get the following balance

  $$ (1 - a) S \pi R^2 = 4\pi R^2 \sigma \varepsilon T^4 $$

	so we can solve for T to get

	$$ T = \sqrt[4]{\frac{(1 - a) S}{4\sigma\varepsilon}} $$
</p>
{% endblock %}

{% block input_description %}
  A solar constant $S$ in $\mathrm{W}/\mathrm{m}^2$, albedo $0 \le a \le 1$, and an emissivity $0 \le \varepsilon \le 1$.
{% endblock %}

{% block output_description %}
  The temperature of the rocky planet in Celsius (°C).
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example (Earth)</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input solar constant:</b> 1361<br>
<b>Input albedo:</b> 0.306<br>
<b>Input emissivity:</b> 0.612<br>
<b>Output rock temperature</b>: 14.059374</div>
</article>
{% endblock %}

{% block function_signature %}
rock_temperature(solar_constant, albedo, emissivity)
{% endblock %}

{% block python_code_stub %}
def rock_temperature(S, a, e):
    T = 0

    # Your code goes here!

    return T
{% endblock %}

{% block javascript_code_stub %}
function rock_temperature(S, a, e) {
    var T = 0

    // Your code goes here!

    return T
}
{% endblock %}

{% block julia_code_stub %}
function rock_temperature(S, a, e)
    T = 0

    # Your code goes here!

    return T
end
{% endblock %}

{% block notes_and_references %}
<div class="content">
  {% if solved_by_user %}
  <h3>Solution notes</h3>
  <ul>
    <li>
      The average temperature of the Earth is actually ~14°C so this model does pretty well all things considered! Of
			course, this is probably because you can tune the albedo $a$ and emissivity $\varepsilon$ to get a better answer
			and it's pretty hard to assign the Earth an "average albedo" as it's made up of
    </li>
  </ul>
  {% endif %}

	<h3>Notes</h3>
	<ul>
		<li>
			The average temperature of the Earth is actually ~14°C so this model does pretty well all things considered! Of
			course, this is probably because you can tune the albedo $a$ and emissivity $\varepsilon$ to get a better answer
			and it's pretty hard to assign the Earth an "average albedo" as it's made up of so many different surfaces, snow
			and sea ice form and thaw, etc.
		</li>
		<li>
		  If you want to get technical, we're using the bond albedo here.
		</li>
	</ul>
</div>

Ref for <T> ~ 14 C: https://earthobservatory.nasa.gov/world-of-change/decadaltemp.php
{% endblock %}

{% block discourse_topic_id %}258{% endblock %}
