{% extends "problems/problem.html" %}

{% block page_title %}
    {{ problem.name }} | Project Lovelace
{% endblock %}

{% block problem_name %}
    {{ problem.name }}
{% endblock %}

{% block required %}
    <p><b>Required math</b>: None.</p>
{% endblock %}

{% block problem_body %}
    <p>
        We'll try to get you familiar with how Project Lovelace problems work by doing some rocket science! A rocket, say the Saturn V, needs to leave a planet with velocity $v$ but it needs to know how much fuel to carry with it. Luckily you can calculate this with the rocket equation $m_\mathrm{fuel} = M \left( e^{v/v_e} - 1\right)$ where $M = 250,000 \mathrm{kg}$ is the mass of the empty rocket and $v_e = 2,550 m/s$ is the exhaust velocity of the rocket. Your program should read in the velocity $v$ as an input and print the mass of fuel needed.
    </p>
{% endblock %}

{% block input_description %}
    <p>
        The velocity the rocket needs to reach in meters per second (m/s).
    </p>
{% endblock %}

{% block input_example %}
    11186.0
{% endblock %}

{% block output_description %}
    <p>
        The mass of fuel needed by the rocket to escape the planet in kilograms (kg).
    </p>
{% endblock %}
    19843016.2
{% block output_example %}
    
{% endblock %}
