{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	the simplest climate model.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  In this first problem on climate modeling we'll look at the simplest possible climate model of the Earth and use it
	to calculate Earth's temperature.
	<br><br>
	It's a zero-dimensional energy balance model where we'll assume that the energy absorbed by the
	Earth is equal to the energy being radiated out by the Earth.  We can call this balanced state
	<i>radiative equilibrium</i> where

  $$ \text{Energy in} = \text{Energy out} $$

	We can call this model the <i>rock-star</i> model because we have a star that's heating up a rocky planet. The
	planet has no atmosphere, it's just a rock floating through space. We can use it to calculate the Earth's average
	temperature.
</p>
<br>

<figure style="text-align: center;">
  <img src="{% static 'img/rock_star_climate.png' %}">
  <figcaption class="help">
		The solar energy being absorbed by the Earth (yellow arrows) is equal to the thermal energy radiated out to space
		by the Earth (red arrows). The sun only shines on one half of the Earth at a time, while the Earth is radiating
		energy all over its surface. Not to scale of course!
  </figcaption>
</figure>
<br>

<h2 class="subtitle is-4">Calculating energy in</h2>
<p class="has-text-justified">
  The solar power hitting the top of the atmosphere is given by the
	<a href="https://en.wikipedia.org/wiki/Solar_constant">solar constant</a> $S = 1361 \; \mathrm{W/m}^2$. It's
	very high at the top of the atmosphere but a lot of it gets absorbed by the atmosphere, especially by clouds, so the
	solar power hitting the Earth's surface is lower than $S$.
	<br><br>
	The sun shines on only half of the Earth at a time so all that solar power is incident on a circular area $\pi R^2$
	where $R$ = 6371 km is the radius of the Earth. So the total solar energy reaching the Earth is $S\pi R^2$.
  <br><br>
	But some of the solar energy is reflected back to space by stuff like clouds, snow, and sand. The fraction reflected
	back is called the <a href="https://en.wikipedia.org/wiki/Albedo">albedo</a> $a$ which is between 0 (everything is
	absorbed) and 1 (everything is reflected). Clouds and snow have a pretty high albedo while forests and the ocean have
	a pretty low albedo, but on average Earth's albedo is $a \approx 0.306$.
	<br><br>
	So the total energy absorbed by the Earth is

  $$ \text{Energy in} = (1 - a) S \pi R^2 $$
</p>
<br>

<h2 class="subtitle is-4">Calculating energy out</h2>
<p class="has-text-justified">
	We can treat the Earth as a gray body that radiates thermal energy (or heat) everywhere on its surface according to the
	<a href="https://en.wikipedia.org/wiki/Stefan%E2%80%93Boltzmann_law">Stefan-Boltzmann law</a> $\varepsilon \sigma T^4$
	where $\sigma = 5.670374419 \times 10^{-8} \mathrm{W} \cdotp \mathrm{m}^{-2} \cdotp \mathrm{K}^{-4}$ is the
	Stefan-Boltzmann constant and $T$ is the temperature of the Earth.
  <br><br>
	The <a href="https://en.wikipedia.org/wiki/Emissivity">emissivity</a> $\varepsilon$ is a measure of how good a body is
	at emitting thermal energy and is also a number between 0 (perfect absorber that emits no heat) and 1 (perfect
	emitter). The emissivity of the Earth varies but on average it's $\varepsilon \approx 0.612$.
  <br><br>
	This energy is being emitted everywhere on the Earth's surface so to get the total energy emitted we multiply by the
	surface area of the Earth $4\pi R^2$ to get

  $$ \text{Energy out} = 4\pi R^2 \varepsilon \sigma T^4 $$
</p>
<br>

<h2 class="subtitle is-4">Calculating the Earth's temperature</h2>
<p class="has-text-justified">
  From $\text{Energy in} = \text{Energy out}$ we get the following balance

  $$ (1 - a) S \pi R^2 = 4\pi R^2 \varepsilon \sigma T^4 $$

	so we can solve for T to get

	$$ T = \sqrt[4]{\frac{(1 - a) S}{4\varepsilon\sigma}} $$

	which gives the Earth's temperature in degrees Kelvin.
</p>
{% endblock %}

{% block input_description %}
  A solar constant $S$ in $\mathrm{W}/\mathrm{m}^2$, albedo $0 \le a \le 1$, and an emissivity $0 \le \varepsilon \le 1$.
{% endblock %}

{% block output_description %}
  The temperature of the rocky planet in Celsius (°C). Remember to convert from Kelvin $K$ to Celsius $C$ using
	$C = K - 273.15$
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example (Earth)</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input solar constant:</b> 1361
<b>Input albedo:</b> 0.306
<b>Input emissivity:</b> 0.612
<b>Output rock temperature</b>: 14.059374</div>
</article>
{% endblock %}

{% block function_signature %}
rock_temperature(solar_constant, albedo, emissivity)
{% endblock %}

{% block python_code_stub %}
def rock_temperature(S, a, e):
    T = 0

    # Your code goes here!

    return T
{% endblock %}

{% block javascript_code_stub %}
function rock_temperature(S, a, e) {
    var T = 0

    // Your code goes here!

    return T
}
{% endblock %}

{% block julia_code_stub %}
function rock_temperature(S, a, e)
    T = 0

    # Your code goes here!

    return T
end
{% endblock %}

{% block notes_and_references %}
<div class="content">
  {% if solved_by_user %}
  <h3>Solution notes</h3>
  <ul>
    <li>
      The average temperature of the Earth is actually ~14°C so this model does pretty well all things considered! Of
			course, this is probably because you can tune the albedo $a$ and emissivity $\varepsilon$ to get a better answer
			and it's pretty hard to assign the Earth an "average albedo" as it's made up of
    </li>
  </ul>
  {% endif %}

	<h3>Notes</h3>
	<ul>
		<li>
			The average temperature of the Earth is actually ~14°C so this simple  model does pretty well! Of
			course, this is probably because you can tune the albedo $a$ and emissivity $\varepsilon$ to get a better answer
			and it's pretty hard to assign the Earth an "average albedo" as it's made up of so many different surfaces, snow
			and sea ice form and thaw, etc.
		</li>
		<li>
		  If you want to get technical, we're using the bond albedo here.
		</li>
	</ul>
</div>

https://en.wikipedia.org/wiki/Planetary_equilibrium_temperature

A new, lower value of total solar irradiance: Evidence and climate significance
Greg Kopp & Judith L. Lean
Geophysical Research Letters 38(1), 2011.
https://doi.org/10.1029/2010GL045777

They measured the most accurate value of the solar constant during the 2008 solar minimum period to be 1360.8 ± 0.5 W m−2.

https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html
For Earth albedo value.

Ref for <T> ~ 14 C: https://earthobservatory.nasa.gov/world-of-change/decadaltemp.php
{% endblock %}

{% block discourse_topic_id %}258{% endblock %}
