{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	submitting code and temperature conversion.
{% endblock %}

{% block problem_body %}
  Science is done in Celsius...
  <br>
  <figure style="text-align: center;">
    <img src="{% static 'img/fahrenheit_celsius_thermometer.jpg' %}">
  </figure>
  <br>
{% endblock %}

{% block input_description %}
  The temperature in Fahrenheit (°F).
{% endblock %}

{% block output_description %}
  The temperature in Celsius (°C).
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input Fahrenheit temperature</b>: 77.9
<b>Output Celsius temperature</b>: 25.5</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input Fahrenheit temperature</b>: 32
<b>Output Celsius temperature</b>: 0</div>
</article>
{% endblock %}

{% block function_signature %}
fahrenheit_to_celsius(F)
{% endblock %}

{% block python_code_stub %}
def fahrenheit_to_celsius(F):
    C = 0

    # Your code goes here: calculate the temperature in Celsius,
    # store in a variable (we called it C), and return it!

    return C
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>This problem is inspired by the second example in the famous book <a
            href="https://en.wikipedia.org/wiki/The_C_Programming_Language">The C Programming Language</a>.
    </li>
    <li>The Celsius and Farenheit scales read the same temperature at -40! This is one of the test cases.</li>
    <li>Neither Celsius or Fahrenheit are good for science as a temperature of 0 degrees still means that some thermal
      energy exists. Scientists use the <a href="https://en.wikipedia.org/wiki/Kelvin">Kelvin scale</a> which is 0
      degrees Kelvin (K) at <a href="https://en.wikipedia.org/wiki/Third_law_of_thermodynamics">absolute zero</a>
      (-273.15°C), the temperature at which all molecular motion ceases. Interestingly, the <a
              href="https://en.wikipedia.org/wiki/Third_law_of_thermodynamics">third law of thermodynamics</a> says it's
      impossible to reach absolute zero.
    </li>
    <li><b>Weird stuff:</b> You can have weird physical systems with <a
            href="https://en.wikipedia.org/wiki/Negative_temperature">negative temperatures</a>. Some systems still have
      some energy at absolute zero due to <a href="https://en.wikipedia.org/wiki/Zero-point_energy">zero-point
        energy</a> in quantum mechanics.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

