{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	submitting code and temperature conversion.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  We'll get you familiar with how submitting code to Project Lovelace works by converting some temperatures. Scientists
  like to use Celsius instead of Fahrenheit but sometimes you're given a temperature in Fahrenheit and you have to
  convert it to Celsius. It's pretty easy: subtract 32 then multiply by 5/9 or if you like equations

  $$ C = \frac{5}{9} (F - 32) $$

  In the code editor below try to write a function <tt>fahrenheit_to_celsius(F)</tt> that converts Fahrenheit to
  Celsius and we'll test your code when you submit it to make sure you got it right.
</p>
<br>

<figure style="text-align: center;">
  <img src="{% static 'img/fahrenheit_celsius_thermometer.jpg' %}">
  <figcaption class="help">
    Celsius and Fahrenheit are both just scales for measuring temperature. To define a scale, you just need to pick and
    define two temperatures. Celsius defines the 0°C to be the temperature at which water freezes, and 100°C is where
    water boils. Fahrenheit is older and there are different stories about how it was invented but 0°F was probably the
    freezing point of some ice, water and salt solution while 96°F was defined as the average human body temperature
    (later redefined to 98.6°F). (Image credit:
    <a href="https://www.learner.org/courses/chemistry/text/text.html?dis=U&num=Ym5WdElUQS9NeW89&sec=YzJWaklUQS9NeW89">
      Annenberg Learner
    </a>)
  </figcaption>
</figure>
<br>
{% endblock %}

{% block input_description %}
  The temperature in Fahrenheit (°F).
{% endblock %}

{% block output_description %}
  The temperature in Celsius (°C).
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input Fahrenheit temperature</b>: 77.9
<b>Output Celsius temperature</b>: 25.5</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input Fahrenheit temperature</b>: 32
<b>Output Celsius temperature</b>: 0</div>
</article>
{% endblock %}

{% block function_signature %}
fahrenheit_to_celsius(F)
{% endblock %}

{% block python_code_stub %}
def fahrenheit_to_celsius(F):
    C = 0

    # Your code goes here: calculate the temperature in Celsius,
    # store in a variable (we called it C), and return it.

    return C
{% endblock %}

{% block javascript_code_stub %}
function fahrenheit_to_celsius(F) {
    var C = 0

    // Your code goes here: calculate the temperature in Celsius,
    // store in a variable (we called it C), and return it.

    return C
}
{% endblock %}

{% block julia_code_stub %}
function fahrenheit_to_celsius(F)
    C = 0

    # Your code goes here: calculate the temperature in Celsius,
    # store in a variable (we called it C), and return it.

    return C
end
{% endblock %}

{% block notes_and_references %}
<div class="content">
  {% if solved_by_user %}
  <h3>Solution notes</h3>
  <ul>
    <li>
      Hey you solved the first problem! Sometimes we'll leave stuff here for when you've solved a problem, but we don't
      have anything interesting here :(
    </li>
  </ul>
  {% endif %}

  <h3>Videos</h3>
  <dl>
    <dt>
      <a href="https://www.youtube.com/watch?v=LgrXd0NM2y8">What the Fahrenheit?!</a>, Veritasium
    </dt>
    <dd>
      If you're interested in how the weird Fahrenheit scale came about and what it means.
    </dd>
  </dl>

  <h3>Notes</h3>
  <ul>
    <li>
      This problem is inspired by the second example in
      <a href="https://en.wikipedia.org/wiki/The_C_Programming_Language">The C Programming Language</a>.
    </li>
    <li>
      The Celsius and Farenheit scales read the same temperature at -40°! This is one of the test cases.
    </li>
    <li>
      Neither Celsius or Fahrenheit are good for science as a temperature of 0 degrees still means that some thermal
      energy exists. Scientists use the <a href="https://en.wikipedia.org/wiki/Kelvin">Kelvin scale</a> which is 0
      degrees Kelvin (K) at <a href="https://en.wikipedia.org/wiki/Third_law_of_thermodynamics">absolute zero</a>
      (-273.15°C), the temperature at which all molecular motion ceases (but some systems still have
      some energy at absolute zero due to a quantum mechanical
      <a href="https://en.wikipedia.org/wiki/Zero-point_energy">zero-point energy</a>).
    </li>
    <li>
      Interestingly, the
      <a href="https://en.wikipedia.org/wiki/Third_law_of_thermodynamics">third law of thermodynamics</a> says it's
      impossible to reach absolute zero.
    </li>
    <li>
      You can have weird physical systems with
      <a href="https://en.wikipedia.org/wiki/Negative_temperature">negative temperatures</a>.
    </li>
    <li>
      The Celsius scale is technically defined in terms of the Kelvin scale so water actually freezes at −0.0001°C and
      boils at 99.9839°C (at standard temperature and pressure).
    </li>
    <li>
      Pretty cool list of <a href="https://en.wikipedia.org/wiki/Orders_of_magnitude_(temperature)">
      temperature orders of magnitude</a>.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}257{% endblock %}

