{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	submitting code and that light is <i>fast</i>.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  Light is really fast: 299,792,458 meters per second to be exact. That's fast enough to make it almost 7.5 times around
  the Earth in one second! A spacecraft would take a few days to reach the Moon, but a beam of light could do it in
  1.255 seconds.
</p>
<br>

<figure style="text-align: center;">
  <img src="{% static 'img/Earth_to_moon_light_distance.gif' %}">
</figure>
<br>

<p class="has-text-justified">
  We can calculate how long it takes a beam of light to reach places in space. Since light travels at a constant speed
  $c$, the time $t$ it takes to travel a distance $d$ is $t = d/c$. Try to submit some code with a function
  <tt>light_time(distance)</tt> that returns the time it takes light to travel that distance.
</p>
{% endblock %}

{% block input_description %}
  A distance in meters (m).
{% endblock %}

{% block output_description %}
  The time it takes for light to travel the input distance, in seconds (s).
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example 1</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input distance</b>: 376291900
<b>Output time</b>: 1.255175</div>
</article>

<article class="message">
  <div class="message-header">
    <p>Example 2</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input distance</b>: 299792458
<b>Output time</b>: 1.0</div>
</article>
{% endblock %}

{% block function_signature %}
light_time(distance)
{% endblock %}

{% block python_code_stub %}
c = 299792458  # Speed of light [m/s]

def light_time(distance):
    t = 0

    # Calculate the time taken using t = d/c and return it!

    return t
{% endblock %}

{% block javascript_code_stub %}
{% endblock %}

{% block julia_code_stub %}
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>The speed of light is usually denoted by lowercase $c$ in most of science, apparently for "constant" or from the
      Latin <i>celeritas</i> meaning quickness or swiftness.
    </li>
    <li>Light takes 1.255 seconds to travel from the surface of the Earth to the surface of the Moon. The average
      distance between the Earth and Moon is 384,400 km but the radius of the Earth is 6,371 km and the radius of the
      Moon is 1,737 km, so in this case light actually travels 384,400 - 6,371, - 1,737 = 376,292 km.
    </li>
    <li>The <a href="https://en.wikipedia.org/wiki/R%C3%B8mer%27s_determination_of_the_speed_of_light">first measurement
      of the speed of light</a> was made in 1676 by Ole Rømer...
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}xx{% endblock %}

