{% extends "problems/problem.html" %}

{% load static %}

{% block you_will_learn %}
	winter weather and exponents.
{% endblock %}

{% block problem_body %}
<p class="has-text-justified">
  If you go outside when it's cold (below 5°C) and windy, you probably noticed that it feels colder than what the
  temperature says it is. This is because cold air is passing around your body, lowering your body's temperature and
  making you feel colder. The wind chill index $T_{wc}$ quantifies the apparent temperature you feel using the formula

  $$ T_{wc} = 13.12 + 0.6215T_a - 11.37v^{0.16} + 0.3965T_av^{0.16} $$

  where $T_a$ is the temperature of the air and the $v$ is the wind speed.
</p>
<br>

<figure style="text-align: center;">
  <img src="{% static 'img/wind_chill_temperature_index_table.gif' %}">
</figure>
<br>

<figure style="text-align: center;">
  <div id="wind-chill-plot">
</figure>
<br>
{% endblock %}

{% block input_description %}
  The air temperature $T_a$ in Celcius (°C) and the wind speed $v$ in kilometers per hour.
{% endblock %}

{% block output_description %}
  The wind chill factor $T_{wc}$.
{% endblock %}

{% block examples %}
<article class="message">
  <div class="message-header">
    <p>Example</p>
  </div>
  <div class="message-body" style="font-family: monospace; text-align: justify; word-wrap: break-word; white-space:pre;"><b>Input temperature:</b> -25
<b>Input wind speed:</b> 30
<b>Output wind chill index</b>: -39.09</div>
</article>
{% endblock %}

{% block function_signature %}
wind_chill(T_a, v)
{% endblock %}

{% block notes_and_references %}
<div class="content">
  <h3>Notes</h3>
  <ul>
    <li>
      When it is hot and humid, it might feel warmer that what the temperature says it is due to high humidity. In this
      case the <a href="https://en.wikipedia.org/wiki/Heat_index">heat index</a> and
      <a href="https://en.wikipedia.org/wiki/Humidex">humidex</a> can quantify the apparent temperature but it's more
      complicated to calculate.
    </li>
  </ul>
</div>
{% endblock %}

{% block discourse_topic_id %}260{% endblock %}
