# Redirect all links "/x" to "/x.html" file-wise but they still display as "/x"
# in the browser address bar.
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
