<!DOCTYPE html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}
            Project Lovelace
        {% endblock %}
    </title>
    <style>
      .Site {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      .Site-content {
        flex: 1;
      }
    </style>

    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    {% block preload_javascript %}
    {% endblock %}
  </head>

<body class="Site">
  {% include "navbar.html" %}

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <main class="Site-content">
    {% block body %}
    {% endblock %}
  </main>

  {% block postload_javascript %}
  {% endblock %}

  {% include "footer.html" %}

</body>
</html>
