{% extends "base.html" %}

{% load static %}

{% block page_title %}
  HTTP 404 Not Found | Project Lovelace
{% endblock %}


{% block body %}
<section classs="section">
  <div class="container">
    <p class="title is-2"><span style="font-family: monospace;">&rsaquo; HTTP Error 404: Not Found.</span></p>
    <br>
    <p class="subtitle is-3"><span style="font-family: monospace;">Something went wrong. If this should be working, please let us know by posting on <a href="https://discourse.projectlovelace.net/">Discourse</a> under the site feedback category!</span></p>
  </div>
</section>
{% endblock %}
