{% extends "base.html" %}

{% block body %}
<section classs="section">
  <br>
  <h1 class="title is-spaced has-text-centered is-size-1-desktop is-size-2-tablet is-size-3-mobile">Welcome to Project Lovelace!</h1>
  <br>

  <div class="container">
    <h2 class="is-spaced has-text-centered is-size-1-desktop is-size-2-tablet is-size-3-mobile">
      <span class="icon">
        <i class="fas fa-atom fa-fw fa-2x"></i>&nbsp;
        <i class="fas fa-plus fa-fw fa-2x"></i>&nbsp;
        <i class="fas fa-laptop-code fa-fw fa-2x"></i>&nbsp;
        <i class="fas fa-equals fa-fw fa-2x"></i>&nbsp;
        <i class="fas fa-magic fa-fw fa-2x"></i>
      </span>
    </h2>
  </div>

  <br>

  <div class="container">
    <p class="is-spaced has-text-centered">
      <strong>Interested in science and programming?</strong> Project Lovelace is a bunch of free scientific programming problems.
      Each problem teaches some bit of science (e.g. how to simulate a guitar, splice DNA, or predict the weather) and
      requires the use of scientific insight and some programming skills to solve. The problems get progressively harder but the goal
      is to learn cool science through programming (or vice versa!), not to solve boring problems or struggle with frustrating details,
      so we try our best to be helpful and guide you through.
    </p>
  </div>
</section>

<br><br>
{% endblock %}
