{% extends "base.html" %}

{% block body %}
    <h1>Welcome to Project Lovelace!</h1>
    <p>Project Lovelace is an open online platform for learning about science and developing computational thinking through programming and problem solving. We are deploying the website and the problems one by one throughout the winter in preparation for a pilot run in April 2017.</p>
    <p><a class="btn btn-primary btn-lg" href="problems" role="button">Check Out the problems &raquo;</a></p>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Problems</h2>
                <p>Each problem teaches a scientific application (e.g. locating earthquakes, DNA splicing) and requires the use of scientific insight and some programming skills to solve.</p>
                <p><a class="btn btn-default" href="problems" role="button">Check out the problems &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tutorials</h2>
                <p>Tutorials teach computational methods that students and researchers may find useful (e.g. solving differential equations, Bayesian inference) and tend to be more pedagogical than the problems.</p>
                <p><a class="btn btn-default" href="tutorials" role="button">Check out the tutorials &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>About</h2>
                <p>We're hoping to not only become a recreational science and programming website, but also a resource for developing computational thinking in science students.</p>
                <p><a class="btn btn-default" href="about" role="button">Find out more about us &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
