{% load static %}

<nav class="navbar is-transparent is-dark">
  <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <img src="{% static 'img/Lovelace_banner_white_192px.png' %}">
      </a>
    <div role="button" class="navbar-burger burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="nav-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'problems:index' %}">Problems</a>
      <a class="navbar-item" href="{% url 'about' %}">About</a>
      <a class="navbar-item" href="{% url 'news' %}">News</a>
      <a class="navbar-item" href="http://discourse.projectlovelace.net/">Discourse</a>
      <a class="navbar-item" href="https://join.slack.com/t/project-lovelace/shared_invite/enQtNjk3ODYyNTc3MDcyLWM3NjI3OGRkYTMzYTJiMWFiZjZkNmM5YmQ1Zjg5N2NjMWViMTM1ZmEzYTk3MTQ5ZTM0OGQ1N2RmZjkwNjg0Yjg">Slack</a>
      <a class="navbar-item" href="https://twitter.com/ProjectLovelace">Twitter</a>
      <a class="navbar-item" href="https://github.com/project-lovelace">GitHub</a>
    </div>

    {% if user.is_authenticated %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
                <i class="fas fa-laptop"></i>&nbsp;&nbsp;
                <span>{{ user.username }}</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="{% url 'users:profile' user.username %}" class="dropdown-item">View profile</a>
                <a href="{% url 'editprofile' %}" class="dropdown-item">Edit profile</a>
                <a href="#" class="dropdown-item">Submissions</a>
                <hr class="dropdown-divider">
                <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" href="{% url 'login' %}">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Log in</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-info" href="{% url 'django_registration_register' %}">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Register</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</nav>
