{% extends "base.html" %}

{% load static %}

{% block page_title %}
  News | Project Lovelace
{% endblock %}

{% block body %}
<section classs="section">
  <div class="container">
      <br>
      <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">News</h1>

    <p class="is-spaced">
      <strong>Saturday, January 5, 2019</strong><br>
      To coincide with <a href"https://github.com/project-lovelace/lovelace-website/releases/tag/v1.1">Project Lovelace 1.1</a>, which introduced support for Javascript and Julia, we got tons of great feedback from <a href="https://reddit.com/r/learnprogramming/comments/acxfpd/project_lovelace_learn_science_and_programming/">/r/learnprogramming</a>, thanks so much! We will focus on posting some easier problems over the next couple of weeks and work on supporting C/C++ next!
      <br><br>

      <strong>Monday, December 31, 2018</strong><br>
      After implementing a few more features, most notably support for Python, Javascript, and Julia, we have something we can show!
      <br><br>

      <strong>Monday, November 26, 2018</strong><br>
      Enough features have been implemented that we decided to call what we have <a href="https://github.com/project-lovelace/lovelace-engine/releases/tag/v1.0">Project Lovelace 1.0</a>!
      <br><br>

      <strong>Wednesday, October 24, 2018</strong><br>
      News page is online!
      <br><br>
      
      <strong>Sunday, October 21, 2018</strong><br>
      New problem in earth science on locating where earthquakes happen:
      <a href="http://projectlovelace.net/problems/i11-earthquake-epicenters/">Finding earthquake epicenters</a>.
      This is a test posting.
      <br><br>

      <strong>At some point in the distant past...</strong><br>
      We have posted 10 introductory problems covering a bunch of scientific and mathematical fields that shouldn't require too much programming knowledge to solve.
    </p>
  </div>
</section>

<br><br>
{% endblock %}
