{% extends "base.html" %}

{% load static %}

{% block page_title %}
  News | Project Lovelace
{% endblock %}

{% block body %}
<section classs="section">
  <div class="container">
      <br>
      <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">News</h1>

    <p class="is-spaced">
      <strong>Wednesday, October 24, 2018</strong><br>
      News page is online! Should move news items into the database and automatically generate this page though!
      <br><br>
      
      <strong>Sunday, October 21, 2018</strong><br>
      New problem in earth science on locating where earthquakes happen:
      <a href="http://projectlovelace.net/problems/i11-earthquake-epicenters/">Finding earthquake epicenters</a>.
      This is a test posting.
    </p>
  </div>
</section>

<br><br>
{% endblock %}
