{% extends "base.html" %}

{% block page_title %}
  Password reset sent | Project Lovelace
{% endblock %}


{% block body %}
  <section classs="section">
    <div class="container content">
      <br>
      <h3>Password reset sent</h3>
      <br>
      <p>We've emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
  </section>
{% endblock %}
