{% extends "base.html" %}

{% load widget_tweaks %}

{% block page_title %}
  Password change | Project Lovelace
{% endblock %}

{% block body %}
  <br>
  <div class="columns is-centered">
    <div class="column is-one-third">
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <article class="message is-danger">
            <div class="message-body">
              {{ error }}
            </div>
          </article>
        {% endfor %}
      {% endif %}

      <div class="container content">
        <h3>Enter new password</h3>
        <br>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      </div>
      <form method="post" action=".">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="control has-icons-left">
              {{ field | add_class:'input' }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class="help">{{ field.help_text }}</p>
            {% for error in field.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}

        <div class="control">
          <button class="button is-primary" type="submit">Change my password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
