{% extends "base.html" %}

{% block page_title %}
    Register | Project Lovelace
{% endblock %}

{% block body %}
    <meta name="problem_name" content="problem.name">
    <h2>Create a New Account</h2>
    <br>
    {% if model_errors %}
        {{ model_errors }}
    {% endif %}
    <form class="form-horizontal" action="" method="post" id="registration-form" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" id="register-button" />
    </form>
{% endblock %}
