{% extends "base.html" %}

{% load widget_tweaks %}

{% block page_title %}
  Register | Project Lovelace
{% endblock %}

{% block body %}
  <meta name="problem_name" content="problem.name">
  <br>  
  <div class="columns is-centered">
    <div class="column is-one-third">
      <form method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="control has-icons-left">
              {{ field | add_class:'input'}}
              <span class="icon is-small is-left">
                {% if field.name == 'username' %}
                  <i class="fas fa-user"></i>
                {% elif field.name == 'email' %}
                  <i class="fas fa-envelope"></i>
                {% elif field.name == 'password1' or field.name == 'password2' %}
                  <i class="fas fa-lock"></i>
                {% endif %}
              </span>
            </div>
            <p class="help">{{ field.help_text }}</p>
            {% for error in field.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button class="button is-primary" type="submit">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}
