{% extends "base.html" %}

{% block body %}
    <h1>Tutorials</h1>

    <h2>Ordinary differential equations</h2>

    <table class="table">
        <thead>
            <tr>
                <th><p>ID#</p></th>
                <th><p>Tutorial title</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><p>T1</p></th>
                <td>
                    <p><a href="/tutorials/1">First-order equations: The Euler method</a>, <i>Cancerous equations</i></p>
                </td>
            </tr>
            <tr>
                <th scope="row"><p>T2</p></th>
                <td>
                    <p><a href="#">Coupled first-order equations</a>, <i>Crabs and ants for Christmas</i></p>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <p>T3</p>
                </th>
                <td>
                    <p><a href="#">Second-order equations</a>, <i>Projectile motion</i></p>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
