{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {{ user_shown.username }} | Project Lovelace
{% endblock %}

{% block body %}
<br>
<section classs="section">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <h3 class="title is-3 has-text-centered">{{ user_shown.username }} ({{ profile.display_name }})</h3>
      <h4 class="subtitle is-5 has-text-centered is-italic"><strong>{{ profile.problems_solved }} problems solved ({{ profile.submissions_made}} submissions)</strong></h4>
      <div class="columns">
        <div class="column is-one-third">
          <img src="{{ profile.avatar.url }}" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;">
        </div>
        <div class="column is-two-thirds">
          <p>Member since: {{ user_shown.date_joined }}</p>
          <p class="has-text-justified">{{ profile.about }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
