asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==3.0.5
django-countries==6.1.2
django-registration==3.1
django-widget-tweaks==1.4.8
idna==2.9
Pillow==7.1.1
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.8
